

/* nav:not(.mm-menu) {
    display: none;
} */
.mob_logo
{
    width: 150px;
}
#headers {
    /* position: sticky; */
    height: 50px;
    padding: 0 80px;
    top: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 44px;
     display: none;  
    text-align: center;
    background: #f7f3ff;
}
#headers a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 50px;
    padding: 15px 25px;
}
#headers a:before,
#headers a:after {
    content: "";
    display: block;
    background: #39207A;
    height: 2px;
}
#headers a span {
    background: #39207A;
    display: block;
    height: 2px;
    margin: 7px 0;
}

#content {
    padding: 150px 50px 50px 50px;
    text-align: center;
}

@media (max-width:767px) {
    #headers {
      display: block!important;
    }
}  