@media screen and (max-width: 1024px) {
  .navbar-brand img {
    margin-left: 45px;
    margin-right: 10px;
    width: 140px;
  }

  .banner_cont {
    padding: 5px;
    margin-left: 35px;
    padding-top: 0 !important;
  }

  .banner_cont h1 {
    font-size: 25px;
  }

  .carousel-caption {
    top: 10%;
    width: 80%;
    padding-top: 0 !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
    bottom: -25px;
  } 

  .col {
    width: 16% !important;
    margin-bottom: 10px;
    padding: 0.5rem;
    flex: 0 0 0%;
  }

}
  @media screen and (max-width: 767px) and (min-width: 560px) {
    .carousel-caption {
      top: 25%;
    }
  }
  
 
   @media screen and (max-width: 1440px) and (min-width: 1025px) {
    .carousel-caption {
      top: 5%!important;
    }
  } 
  
  /* @media screen and (max-width: 1025px) and (min-width: 1215px) {
    .carousel_Next_Prev  {
      bottom: -13%!important;
    }
  } */
  .viewall_btn {
    float: right;
  }

  @media (max-width:767px) {
    .viewall_btn {
      float: left;
    }
  }

@media (max-width:825px) {
  .user_cart {
    width: 20%;
    padding: 5px;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 11px;
  }

  .banner_cont h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .shop_now {
    padding: 10px 31px;
    color: #fff;
    margin-top: 10px;
    font-size: 10px;
  }

  .banner_cont {
    margin-left: 11px;
  }

  .banner_cont {
    margin-bottom: 0;
  }

  .carousel-caption h4 {
    font-size: 16px !important;
  }

  .carousel-caption h6 {
    font-size: 12px !important;
  }

  .carousel-caption p {
    font-size: 10px !important;
  }

  .carousel_Next_Prev {
    display: none;
  }

  .banner_cont p {
    font-size: 10px;
  }

  .banner_btn :no-button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .col {
    width: 20% !important;
  }

  .Bottom_banner {
    padding: 10px 60px;
    height: 155px;
  }

  .Bottom_banner h2 {
    font-size: 18px;
    margin: 10px 0 !important;
  }

  .Bottom_banner_btn button {
    margin: 46px auto !important;
  }

  .footer-widget-heading h3 {
    font-size: 15px;
  }

  .service .product_cont h6 {
    font-size: 12px;
    margin-top: 0.5rem;
  }

  .login_credentails {
    width: 90%;
  }
}




@media (max-width:767px) {
  .girl_top_section {
   margin-top: 0!important;
  }
}
@media (max-width:767px) {
  .topgirl {
   display: none!important;
  }
}
@media (max-width:1420px) {
  .topgirl {
    top: -85%!important;
  }
}



/* // using variable here which is  768px */
@media (max-width:576px) {
  nav .show {
    padding: 5px 20px !important;
    /* background: #452896 !important; */
    font-size: 12px !important;
    line-height: 1 !important;
    /* position: absolute; */
    width: 100%;
    top: 50px;
    z-index: 1000;
  }
  .mobile_search
  {
    width: 100%;
  }
  .mobile_search
  {
    width: 100%;
  }
  .user_cart {
    background: transparent;
    padding: 0;
  }

  .m-style {
    display: block !important;
    margin: 0 !important;
  }

  .banner_cont {
    padding: 20px;
    margin-left: 0px;
    padding-top: 0 !important;
  }

  .border {
    margin-bottom: 11px;
  }

  .carousel-caption {
    left: 5%;
    top: 10%;
    width: 85%;
    padding: 0 !important;
  }

  .carousel-caption h4 {
    font-size: 20px !important;
  }

  .carousel-caption h6 {
    font-size: 14px;
  }

  .carousel-caption p {
    font-size: 10px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    /* top: -13px; */
    width: 30px;
    height: 30px;
  }

  .banner_btn button {
    padding: 0.5rem 1rem !important;
  }

  .Bottom_banner h2 {
    font-size: 16px;
    margin-bottom: 10px !important;
  }

  .Bottom_banner p {
    font-size: 10px;
  }

  .Bottom_banner button {
    font-size: 12px;
    float: right;
  }

  .Bottom_banner {
    padding: 20px;
    height: auto;
  }

  .banner_img img {
    width: 45%;
  }

  .bottom_banner_section {
    padding-top: 0 !important;
  }

  .search-and-icons .form-select {
    width: 97% !important;
    margin-bottom: 5px;
  }

  .col {
    width: auto !important;
    flex: 1 0 0%;
  }
}
@media (min-width: 992px)
{
  .mt-lg-0 {
    margin-top: 0!important;
}
}


@media (max-width:300px) {
  nav .show {
    padding: 5px 20px !important;
    /* background: #452896 !important; */
    font-size: 12px !important;
    line-height: 1 !important;
    /* position: absolute; */
    width: 100%;
    top: 50px;
    z-index: 1000;
  }

  .user_cart {
    background: transparent;
    padding: 0;
  }

  .m-style {
    display: block !important;
    margin: 0 !important;
  }

  .banner_cont {
    padding: 20px;
    margin-left: 0px;
    padding-top: 0 !important;
  }

  .border {
    margin-bottom: 11px;
  }

  .carousel-caption {
    left: 5%;
    top: 10%;
    width: 85%;
    padding: 0 !important;
  }

  .carousel-caption h4 {
    font-size: 20px !important;
  }

  .carousel-caption h6 {
    font-size: 14px;
  }

  .carousel-caption p {
    font-size: 10px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    /* top: -13px; */
    width: 30px;
    height: 30px;
  }

  .banner_btn button {
    padding: 0.5rem 1rem !important;
  }

  .Bottom_banner h2 {
    font-size: 16px;
    margin-bottom: 10px !important;
  }

  .Bottom_banner p {
    font-size: 10px;
  }

  .Bottom_banner button {
    font-size: 12px;
    float: right;
  }

  .Bottom_banner {
    padding: 20px;
    height: auto;
  }

  .banner_img img {
    width: 45%;
  }

  .bottom_banner_section {
    padding-top: 0 !important;
  }

  .search-and-icons .form-select {
    width: 97% !important;
    margin-bottom: 5px;
  }

  .col {
    width: auto !important;
    flex: 1 0 0%;
  }
}

@media (max-width:767px) {
  .web_logo {
    display: none!important;
  }
}  


@media (max-width:991px) {
  .mobile_input {
   margin-bottom: 10px;
   margin-top: 10px;
   margin-right: 0;
  }
} 


@media (max-width:400px) {
  .carousel_text{
    display: none;
  }

}
@media (max-width:1023px) {
  .carousel-control-prev {
    display: none!important;
  }
}  
@media (max-width:1023px) {
  .carousel-control-next {
    display: none!important;
  }
}  
/* 
.carousel-captions  {
  margin: 0;
  font-size: 12px;
  position: absolute;
  width: 100%;
  top: 44%;
  left: 60%;
  padding-right: 80px;
  color: white;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.carousel-control-prev  {
  margin: 0;
  font-size: 18px;
  position: absolute;
  top: 70%;
  left: 12%;
 
  color: rgb(0, 0, 0);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 1;
  border-radius: 100%;
}

.carousel-control-next  {
  margin: 0;
  font-size: 18px;
  position: absolute;
  top: 70%;
  left: 18%;

  color: rgb(0, 0, 0);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 1;
  border-radius: 100%;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover 
{
  background-color: #E3D7FE;
}





.banner_btn button {
  border-radius: 0;
  background: transparent;
  color: #fff;
  font-size: 12px;
}
.banner_btn button i {
  rotate: 53deg;
}




@media (max-width:2560px) {
  .carousel-control-prev {
    margin: 0;
    font-size: 18px;
    position: absolute;
    top: 87%;
    left: 13%;
    width:40px;
    height: 40px;
    color: rgb(0, 0, 0);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 1;
    border-radius: 100%;
  }
}  
@media (max-width:2560px) {
  .carousel-control-next {
    margin: 0;
    font-size: 18px;
    position: absolute;
    top: 87%;
    left: 22%;
    width:40px;
    height: 40px;
    color: rgb(0, 0, 0);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 1;
    border-radius: 100%;
  }
}  


@media (max-width:440px) {
  .carousel_text{
    display: none;
  }

}


@media screen and (max-width: 870px) and (min-width: 767px) {
  .carousel-captions {
    margin-top: 15px;
  }
}
 */
