html,
body {
    background: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: unset;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    text-rendering: auto;
    font-size: 11px;
}

* ::after,
*::before {
    text-decoration: none !important;
}